<div class="error_page">

    <div class="width-wrapper">
        <h2 class="home-title" ngsReveal>
            {{ 'Error.error_title' | translate }}
        </h2>
        <p class="home-sub-tile home-sub-tile--margin" ngsReveal>
            {{ 'Error.error_sub_title' | translate }}
        </p>
        <div class="error_link_box">
            <a class="error_link" href="javascript:history.go(-1)">
                {{ 'Error.error_link' | translate }}
                <img src="img/link.png" alt="arrow" />
            </a>
        </div>
        <div class="img_box">
            <img src="img/error.png" alt="image" />
        </div>
    </div>

</div>