<div class="ds-page" role="main">
    <div class="preloader" role="progressbar">
        <div class="load-item" role="none">
            <img class="logo" src="img/D.png" alt="logo" role="none" />
            <img class="dots" src="img/Dot-01.png" alt="dots" role="none" />
        </div>
    </div>
    <div class="header-content" role="navigation">
        <nav-menu></nav-menu>
    </div>
    <div class="body-content" role="document">
        <router-outlet></router-outlet>
    </div>
    <div class="footer-content">
        <footer></footer>
    </div>
</div>
