@media only screen and (max-width: 435px) {
  .phone-input-module .phone-country-input {
    max-width: 85px; }
  .phone-input-module .phone-area-input {
    max-width: 85px; } }

.phone-input-module .intl-tel-input {
  width: 100%; }
  .phone-input-module .intl-tel-input.separate-dial-code {
    height: 48px; }
    .phone-input-module .intl-tel-input.separate-dial-code .flag-container {
      width: 97px;
      height: 48px; }
      @media only screen and (max-width: 768px) {
        .phone-input-module .intl-tel-input.separate-dial-code .flag-container {
          width: 100%; } }
      .phone-input-module .intl-tel-input.separate-dial-code .flag-container .selected-flag {
        width: 93px;
        background-color: #ffffff; }
        @media only screen and (max-width: 768px) {
          .phone-input-module .intl-tel-input.separate-dial-code .flag-container .selected-flag {
            width: 100%;
            padding-left: 3px; } }
  .phone-input-module .intl-tel-input .flag-container {
    border: 1px solid #ced4da;
    border-radius: 4px; }
    @media only screen and (max-width: 768px) {
      .phone-input-module .intl-tel-input .flag-container {
        border-radius: 2.4px;
        border: solid .5px #868686; } }
  .phone-input-module .intl-tel-input input.phone-input {
    visibility: hidden; }

.phone-input-module .form-control {
  height: 48px; }

@media only screen and (max-width: 768px) {
  .phone-input-module .intl-tel-input .selected-flag .iti-flag {
    display: none; } }

@media only screen and (max-width: 768px) {
  .phone-input-module .intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 0; } }

/*RTL Styles*/
body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .selected-flag {
  padding-right: 17px;
  padding-left: 0; }
  @media only screen and (max-width: 768px) {
    body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .selected-flag {
      padding-right: 3px; } }
  body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .selected-flag .selected-dial-code {
    padding-right: 28px;
    padding-left: 0;
    text-align: right; }
    @media only screen and (max-width: 768px) {
      body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .selected-flag .selected-dial-code {
        padding-right: 0; } }

body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .country-list {
  direction: ltr; }
  body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .country-list .country {
    direction: rtl;
    text-align: right;
    display: flex;
    align-items: center; }
    body[dir="rtl"] .phone-input-module .intl-tel-input .flag-container .country-list .country .flag-box {
      margin-left: 6px; }

@media only screen and (max-width: 768px) {
  body[dir="rtl"] .phone-input-module .intl-tel-input .selected-flag .iti-arrow {
    right: 45px; } }

body[dir="rtl"] .phone-input-module .intl-tel-input .country-list .country-name {
  margin-right: 0;
  margin-left: 6px;
  direction: ltr; }

body[dir="rtl"] .phone-input-module .intl-tel-input .country-list .country .dial-code {
  direction: ltr; }

body[dir="rtl"] .phone-input-module .col-3 {
  text-align: right; }

body[dir="rtl"] .phone-input-module .col-6 {
  text-align: right; }
